{% extends 'base.tmpl' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Пругло</h1>
    <h2>Олександр</h2>
    <h3>Олександрович</h3>
    <h4>11.01.2001</h4>
    <h5>21</h5>
    <h6>років</h6>
   <table style="border-style: solid; border-collapse:collapse;">
    <tr>
        <td style="border-style: solid;">Адрес</td>
        <td style="border-style: solid;">Номер телефона</td>
        <td style="border-style: solid;">Школа</td>
        <td style="border-style: solid;">ВУЗ</td>
    </tr>
    <tr>
        <td style="border-style: solid;">Рязанская 32</td>
        <td style="border-style: solid;">0730924230</td>
        <td style="border-style: solid;">КЗШ № 26</td>
        <td style="border-style: solid;">Криворожский государственный педагогический университет</td>
    </tr>
   </table>
</body>
</html>


{% endblock content %}
